html{
    background-color: blanchedalmond;
}

#whitetaken{
    color: black;
    background-color: white;
    font-size: xx-large;
}

#blacktaken{
    color: white;
    background-color: black;
    font-size: xx-large;
}

mark.black{
    color: white;
    background-color: black;
    font-size: xx-large;
}

mark.white{
    color: black;
    background-color: white;
    font-size: xx-large;
}

.Board {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 10vmin;
    grid-auto-columns: 10vmin; 
    width: 75vmin;
}

.Bl {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.W {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moving {
    background-color: yellow;
}